C+프로그래밍/Lec1/.vs/Lec1/v17/Browse.VC.opendb
C+프로그래밍/Lec2/Lec2/.vs/Lec2/v17/Browse.VC.opendb
c+프로그래밍/*/*/*/*/*/Browse.VC.opendb
C+프로그래밍/Lec2/Lec2/.vs/Lec2/v17/.suo
C+프로그래밍/Lec2/Lec2/.vs/Lec2/v17/.suo
C+프로그래밍/Lec2/Lec2/.vs/Lec2/v17/Browse.VC.db
**/node_modules